<section class="card" order-id="card-9">
    <div class="card-header">
        <div class="pull-right cat__core__sortable__control">
            <i class="icmn-minus mr-2 cat__core__sortable__collapse" data-toggle="tooltip" data-placement="left" title="" data-original-title="Collapse"></i>
            <i class="icmn-cross cat__core__sortable__close" data-toggle="tooltip" data-placement="left" title="" data-original-title="Remove"></i>
        </div>
        <h5 class="mb-0 text-black">
            <strong>Home</strong>
        </h5>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-xl-3">
                <div class="cat__core__step cat__core__step--success mb-4">
                    <span class="cat__core__step__digit">
                        <i class="icmn-file-text"><!-- --></i>
                    </span>
                    <div class="cat__core__step__desc">
                        <span class="cat__core__step__title">Causas sin aceptar</span>
                        <p>Total: 61756</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cat__core__step cat__core__step--danger mb-4">
                    <span class="cat__core__step__digit">
                        <i class="icmn-bubbles3"><!-- --></i>
                    </span>
                    <div class="cat__core__step__desc">
                        <span class="cat__core__step__title">Preguntas sin respuestas</span>
                        <p>Growth: 56%</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cat__core__step cat__core__step--primary mb-4">
                    <span class="cat__core__step__digit">
                        <i class="icmn-users"><!-- --></i>
                    </span>
                    <div class="cat__core__step__desc">
                        <span class="cat__core__step__title">Usuarios</span>
                        <p>Total: 7658</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cat__core__step cat__core__step--default mb-4">
                    <span class="cat__core__step__digit">
                        <i class="icmn-calendar"><!-- --></i>
                    </span>
                    <div class="cat__core__step__desc">
                        <span class="cat__core__step__title">Eventos</span>
                        <p>Total: 646</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cat__core__margin-fix"><!-- --></div>
    </div>
</section>
